<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>스프링 게시판 - Fragment</title>
    <link rel="stylesheet" th:href="@{../static/board/css/write.css}">
    <link rel="stylesheet" th:href="@{../static/board/css/write.css}">
</head>
<body>
<div class="container">
    <th:block th:fragment="nav-header(title)">
        <h1 th:text="${title}">타이틀</h1>
        <div class="nav">
            <a th:href="@{list.html}">메뉴 - 1</a>
            <a th:href="@{write.html}">메뉴 - 2</a>
        </div>
    </th:block>
</div>
</body>
</html>